%% -*- erlang -*-

{erl_opts, [debug_info]}.
{deps, []}.

{xref_ignores,
  [ {sim1802, main, 1}
  , {sim1802_core, clear_ef1, 0}
  , {sim1802_core, clear_ef2, 0}
  , {sim1802_core, clear_ef3, 0}
  , {sim1802_core, clear_ef4, 0}
  , {sim1802_core, reset, 1}
  , {sim1802_core, set_ef1, 0}
  , {sim1802_core, set_ef2, 0}
  , {sim1802_core, set_ef3, 0}
  , {sim1802_core, set_ef4, 0}
  ]}.

{escript_emu_args, "%%! +sbtu +A1 +Bd -noshell -smp auto -escript main sim1802\n"}.
